<!-- <h1>New event</h1>

  <%= @event.name %>

  <%= form_for(@event) do |f| %>

    <h3>Awesome you completed your goal for the day!</h3>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

<%= link_to 'Back', events_path %> -->


<%= render "form" %>
