<div class="splash-image">

<div class="ui three column grid">
  <!-- first column -->
  <div class="column"></div>

  <!-- second column -->

  <div class="column" id="splash-box-signin">
    <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
    <h6, style="color:red;"> <%= e %></h6>
    <% end %>
    <% end %>
    <h1 class="ui header"> GOAL: <%= @goal.name.upcase %></h1>
    <h5 class="w3-center"> Be careful! Changing target # of days a week will reset the counter!</h5>


    <br>
    <div class="w3-center">
      <%= form_for @goal, class:"ui form" do |f|  %>
      <div class="field">
        <%= f.label :weekly_occurance, "New Target Number of Days in a Week"%>
        <%= f.number_field :weekly_occurance, in: 1..7, step: 1 %>
      </div>

      <%= f.hidden_field :goal_counter, :value => 0 %>
      <%= f.submit "⚽️" %>

      <% end %>
  </div>
<!-- third column -->
<div class="column"></div>
