



<!-- About Section -->
<div class="w3-container" style="padding:100px 16px" id="about">
  <h3 class="w3-center"> <%= @current_user.name.upcase %>'s CURRENT GOALS</h3>
  <p class="w3-center w3-large">check the box if completed for <%= Time.now.strftime("%m/%d/%Y") %> </p>

<!-- GOAL 1/3 -->

  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-third">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large"> <%= link_to @first_goal.name, goal_path(@first_goal) %> </p>

      <!-- BUTTON TO COMPLETE HABIT  -->


      <%= form_for @achievement do |f| %>
        <%= f.hidden_field :goal_id, :value => @first_goal.id %>
        <%= f.hidden_field :completed, :value => true %>
        <%= f.submit 'complete!' %>
      <% end %>

      <!-- LINK TO DELETE GOAL -->
      <%= link_to "Delete this goal", goal_path(@first_goal), method: :delete %>
    </div>

<!-- GOAL 2/3 -->
    <div class="w3-third">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large"><%= link_to @second_goal.name, goal_path(@second_goal) %> </p>

      <!-- BUTTON TO COMPLETE HABIT  -->


      <%= form_for @achievement do |f| %>
        <%= f.hidden_field :goal_id, :value => @first_goal.id %>
        <%= f.hidden_field :completed, :value => true %>
        <%= f.submit 'complete!' %>
      <% end %>


      <!-- LINK TO DELETE GOAL -->
      <%= link_to "Delete this goal", goal_path(@first_goal), method: :delete %>
      </div>


<!-- GOAL 3/3 -->
    <div class="w3-third">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large"><%= link_to @third_goal.name, goal_path(@third_goal)

         %>  </p>

         <%= button_to "Click", button_path(@third_goal), { :onclick => "debugger", :class=>"button", :method => :post }  %>




      <!-- <button onclick="myFunction()">Completed Goal!</button> -->






      <!-- BUTTON TO COMPLETE HABIT  -->


      <%= form_for @achievement do |f| %>
        <%= f.hidden_field :goal_id, :value => @first_goal.id %>
        <%= f.hidden_field :completed, :value => true %>
        <%= f.submit 'complete!' %>
      <% end %>

      <!-- LINK TO DELETE GOAL -->
      <%= link_to "Delete this goal", goal_path(@first_goal), method: :delete %>

    </div>


  </div>
</div>


</body>
