

<div class="splash-image">

<!-- About Section -->

<div class="w3-container" style="padding: 55px 16px" id="about">
  <h3 class="ui block header" id="splash-box2"> <%= @current_user.name.upcase %>'s CURRENT GOALS
  <br> Click "Complete!" button if completed for <%= Time.now.strftime("%m/%d/%Y") %> </h3>

<!-- GOAL 1/3 -->


  <div class="w3-row-padding w3-center" style="margin-top:60px">
    <div class="w3-third">
      <div class="container">
      <a href="<%= goal_path(@first_goal) %>">  <%= image_tag "shoot.png" %> </a>
        <div class="overlay">
          <div class="text"> <%= link_to @first_goal.name, goal_path(@first_goal) %></div> </div> </div>
 <br>
      <!-- BUTTON TO COMPLETE HABIT  -->
      <div>
        <% if @first_goal.achievements.length > 0 %>
          <% week_arr = [] %>
          <% @first_goal.achievements.reverse.each do |ach| %>
            <% week_arr << ach if (Date.today - Date.parse(ach.created_at.to_s)).to_i < 7 %>
          <% end %>
          <% @first_goal[:goal_counter] = week_arr.count %>
        <% end %>

          <% if @first_goal[:goal_counter] == @first_goal[:weekly_occurance]  %>
            <h3>Awesome! You completed all your goals for the week</h3>
              <button type="button" disabled class='disabled_button'>Daily Goal Completed</button>
          <% else %>
            <% unless @first_goal.achievements.length >= 1 &&  @first_goal.achievements.any? { |ach| ach.created_at.strftime("%m%d%Y") == DateTime.now.strftime("%m%d%Y") } %>
              <%= form_for @achievement do |f| %>
                <%= f.hidden_field :goal_id, :value => @first_goal.id %>
                <%= f.hidden_field :completed, :value => true %>
                <%= f.submit 'complete!', class: "positive ui button" %>
                <% end %>
            <% else %>
              <button type="button" disabled class='disabled_button'>Daily Goal Completed</button>
            <% end %>
          <% end %>

        </div>

      <br>
      <!-- LINK TO DELETE GOAL -->
      <%= button_to "Delete this goal", goal_path(@first_goal), method: :delete, class: "negative ui button"%>
    </div>

<!-- GOAL 2/3 -->
<div class="w3-third">
  <div class="container">
  <a href="<%= goal_path(@second_goal) %>">  <%= image_tag "shoot.png" %> </a>
    <div class="overlay">
      <div class="text"> <%= link_to @second_goal.name, goal_path(@second_goal) %></div> </div> </div>

<br>
      <!-- BUTTON TO COMPLETE HABIT  -->

      <div>
        <% if @second_goal.achievements.length > 0 %>
          <% week_arr = [] %>
          <% @second_goal.achievements.reverse.each do |ach| %>
            <% week_arr << ach if (Date.today - Date.parse(ach.created_at.to_s)).to_i < 7 %>
          <% end %>
          <% @second_goal[:goal_counter] = week_arr.count %>
        <% end %>

          <% if @second_goal[:goal_counter] == @second_goal[:weekly_occurance]  %>
            <h3>Awesome! You completed all your goals for the week</h3>
              <button type="button" disabled class='disabled_button'>Daily Goal Completed</button>
          <% else %>
            <% unless @second_goal.achievements.length >= 1 &&  @second_goal.achievements.any? { |ach| ach.created_at.strftime("%m%d%Y") == DateTime.now.strftime("%m%d%Y") } %>
              <%= form_for @achievement do |f| %>
                <%= f.hidden_field :goal_id, :value => @second_goal.id %>
                <%= f.hidden_field :completed, :value => true %>
                <%= f.submit 'complete!', class: "positive ui button" %>
                <% end %>
            <% else %>
              <button type="button" disabled class='disabled_button'>Daily Goal Completed</button>
            <% end %>
          <% end %>

        </div>
  <br>

      <!-- LINK TO DELETE GOAL -->
      <%= button_to "Delete this goal", goal_path(@second_goal), method: :delete, class: "negative ui button"%>
      </div>


<!-- GOAL 3/3 -->
    <div class="w3-third">

      <div class="container">
      <a href="<%= goal_path(@third_goal) %>">  <%= image_tag "shoot.png" %> </a>
        <div class="overlay">
          <div class="text"> <%= link_to @third_goal.name, goal_path(@third_goal) %></div> </div> </div>


      <!-- BUTTON TO COMPLETE HABIT  -->
      <br>
    <div>
      <% if @third_goal.achievements.length > 0 %>
        <% week_arr = [] %>
        <% @third_goal.achievements.reverse.each do |ach| %>
          <% week_arr << ach if (Date.today - Date.parse(ach.created_at.to_s)).to_i < 7 %>
        <% end %>
        <% @third_goal[:goal_counter] = week_arr.count %>
      <% end %>

        <% if @third_goal[:goal_counter] == @third_goal[:weekly_occurance]  %>
          <h3>Awesome! You completed all your goals for the week</h3>
            <button type="button" disabled class='disabled_button'>Daily Goal Completed</button>
        <% else %>
          <% unless @third_goal.achievements.length >= 1 &&  @third_goal.achievements.any? { |ach| ach.created_at.strftime("%m%d%Y") == DateTime.now.strftime("%m%d%Y") } %>
            <%= form_for @achievement do |f| %>
              <%= f.hidden_field :goal_id, :value => @third_goal.id %>
              <%= f.hidden_field :completed, :value => true %>
              <%= f.submit 'complete!', class: "positive ui button" %>
              <% end %>
          <% else %>
            <button type="button" disabled class='disabled_button'>Daily Goal Completed</button>
          <% end %>
        <% end %>

      </div>

  <br>
      <!-- LINK TO DELETE GOAL -->
      <%= button_to "Delete this goal", goal_path(@third_goal), method: :delete, class: "negative ui button"%>

    </div>



  </div>
</div>

</div>

</div>
