<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/mac.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">YOUR CURRENT GOALS</h3>
  <p class="w3-center w3-large">check the box if completed for <%= Time.now.strftime("%m/%d/%Y") %> </p>

<!-- GOAL 1/3 -->

  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-third">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">GOAL #1</p>

      <!-- BUTTON TO COMPLETE HABIT  -->
      <form action="/ideas/claim?class=btn+btn-small&amp;idea_id=4&amp;remote=true" class="button_to" method="post">
        <div>
          <input data-remote="true" type="submit" value="complete">
          <input name="authenticity_token" type="hidden" value="pU3umgqrDx3WbalfNK10c9H5B5N4OzPpohs4bWW8mow=">
        </div>
      </form>

      <br>
      <!-- INSERT NOTE FOR EACH HABIT  -->
      <%= form_for Note.new do |f| %>
        <%= f.text_field :content %>
      <% end %>
    </div>

<!-- GOAL 2/3 -->
    <div class="w3-third">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">GOAL #2</p>

      <!-- BUTTON TO COMPLETE HABIT  -->
      <form action="/ideas/claim?class=btn+btn-small&amp;idea_id=4&amp;remote=true" class="button_to" method="post">
        <div>
          <input data-remote="true" type="submit" value="complete">
          <input name="authenticity_token" type="hidden" value="pU3umgqrDx3WbalfNK10c9H5B5N4OzPpohs4bWW8mow=">
        </div>
      </form>

      <br>
      <!-- INSERT NOTE FOR EACH HABIT  -->
      <%= form_for Note.new do |f| %>
        <%= f.text_field :content %>
      <% end %>
<!-- GOAL 3/3 -->
    </div>
    <div class="w3-third">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">GOAL #3</p>
      <!-- BUTTON TO COMPLETE HABIT  -->
      <form action="/ideas/claim?class=btn+btn-small&amp;idea_id=4&amp;remote=true" class="button_to" method="post">
        <div>
          <input data-remote="true" type="submit" value="complete">
          <input name="authenticity_token" type="hidden" value="pU3umgqrDx3WbalfNK10c9H5B5N4OzPpohs4bWW8mow=">
        </div>
      </form>

      <br>
      <!-- INSERT NOTE FOR EACH HABIT  -->
      <%= form_for Note.new do |f| %>
        <%= f.text_field :content %>
      <% end %>
    </div>
  </div>
</div>
