<div class="splash-image">
    <div class="w3-container" style="padding:55px 16px" id="about">

        <div class="ui block header" id="splash-box">
        <!-- About Section -->
      <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
          <h6> <%= e %></h6>
        <% end %>
      <% end %>

      <h5><%= image_tag "bluegree.png" %></h5>
      <h1 class="ui header"> Add a New Goal</h1>


      <%= form_for @goal, :html => {class: "ui form"} do |f|  %>
      <div class="field">
        <h4><%= f.label :name, "Goal Name"%> </h4>
        <%= f.text_field :name %>
        </div>
          <div class="field">
       <h4> <%= f.label :weekly_occurance, "Target Number of Days in a Week"%> </h4>
        <%= f.number_field :weekly_occurance, in: 1..7, step: 1 %>
        </div>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.hidden_field :goal_counter, :value => 0 %>
      <%= f.submit "⚽️", :class => "positive ui button"%>

      <% end %>

    </div>
    </div>





    </div>
