<!DOCTYPE html>
<html>
  <head>
    <title>Goals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'http://code.jquery.com/jquery-3.2.1.slim.min.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>




  <html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
  .w3-row-padding img {margin-bottom: 12px}
  /* Set the width of the sidebar to 120px */
  @media only screen and (max-width: 600px) {#main {margin-left: 0}}
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  body, html {
      height: 100%;
      line-height: 1.8;
  }
  /* Full height image header */
  .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("/w3images/mac.jpg");
      min-height: 100%;
  }
  .w3-bar .w3-button {
      padding: 16px;
  }
  </style>

  <br>
  <br>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide"> GOAAAAAAAAL ⚽️ </a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href= '/goals' class="w3-bar-item w3-button">  <%= image_tag "goal.png" %> All Goals</a>

      <!-- <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a> -->
      <a href="calendar_path" class="w3-bar-item w3-button"> <%= image_tag "football-field.png" %> Calendar </a>

      <!-- SIGNED IN USER ICON -->
      <% if signed_in? %>
      <div class="w3-bar-item w3-button"> <%= image_tag "soccer-ball.png" %>  <%= current_user.name %> </div>
      <div class="w3-bar-item w3-button">
      <form action="<%= goals_path %>" method="post">
        <%= auth_token_input %>
        <input type="hidden" name="_method" value="delete">
      <%= image_tag "timeout.png" %>  <input type="submit" value="Sign Out">
      </form>
      </div>
      <% else %>

        <a href="<%= new_session_url %>">Sign In</a>
        <a href="<%= new_user_url %>">Sign Up</a>
      <% end %>

    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

  <body>

    <br>

    <%= render 'layouts/errors' %>

    <%= yield %>
  </body>
</html>
